#next:disabled {
}

.bg-primary {
    background: none !important;
}

.ok {
    display: flex;
    justify-content: center;
}

.payment_container_step1 {
    margin-top: -210px;
    width: 60vw;
    height: 840px;
    background: rgb(243, 243, 243);
    border-color: var(--primary);
    margin-bottom: -20px;
}

.payment_container_step2 {
    margin-top: -210px;
    width: 60vw;
    height: 840px;
    background: rgb(243, 243, 243);
    border-color: var(--primary);
    margin-bottom: -20px;
    display: none;
}

.payment_probar {
    width: 100%;
    height: 100px;
    background: rgb(6, 187, 204);
    display: flex;
    justify-content: center;
    align-items: center;
}


.now_process {
    color: white !important;
}

.payment_probar > span {
    color: rgba(255, 255, 255, 0.38);
    font-size: 34px;
    margin-left: 40px;
}

.info_table_step1 > tbody > tr > th {
    width: 5vw;
}


#email::placeholder {
    color: rgba(171, 171, 171, 0.42);
}

.search_address {
    height: 39px;
    width: 100px;
    font-size: 20px;
    margin-left: -20px;
}

.star {
    color: red;
}

.item_box {
    height: 200px;
    border: 1px solid rgba(138, 138, 138, 0.58);
}


.button_box {
    display: flex;
    justify-content: center;
}
