:root {
    --main-color: #06BBCC;
    --sub-color: #F0FBFC;
    --black-color: #181d38;
}

.main {
    background-color: var(--main-color);
    border: 5px solid red;
    border-radius: 5px;
}

.my-image {
    border: 5px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-image a {
    color: black;
}


.subject {
    border: 5px solid white;
    width: 500px;
    height: 80px;
    text-align: center;
    padding: 10px;
}
