.student-content {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.student-move {
    border: 5px solid var(--sub-color);
    margin: 20px;
    background-color: white;
}

.student-move_name {
    border-bottom: 5px solid var(--sub-color);
    background-color: blue;
    width: 300px;
    height: 300px;
}

.student-move form {
    background-color: white;
}