#radio-bt {
    margin: 0 15px;
    height: 13px;
    width: 13px;
}

.qna-content {
    position: relative;
}

.qna-bt {
    font-size: 25px;
    width: 100px;
    height: 60px;
    text-align: center;
    padding: 10px;
    position: absolute;
    right: 10px;
    color: var(--main-color);
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.qna-bt:hover {
    color: var(--sub-color);
    background-color: var(--main-color);
    border: 5px solid var(--sub-color);
    border-radius: 10px;
}